.compare-stats-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width:100vw;
  align-items: center;
  color: white;
  background:url('../assets/forzaImgs/mclaren.jpg') no-repeat center center ;
  background-size: cover;
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     z-index: 9999;
    cursor: default;
    display: flex;
  
}


.username-input{
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 250px;
    margin-top: 1rem;
    margin-right: 10px;
}

.username-display{
    color: white; 
    margin-top: 1rem;
    font-weight: bold;

}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
    padding-top: 70px;
}



.search-input{
    padding: 16px 32px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    background-color:white;
    color: black;
    border:none;
    border-radius:6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.compare-btn{
    padding: 12px 25px;
    font-size: 16px;
    font-weight:bold;
    background-color:white;
    color:black; border: none;
    border-radius: 6px;
    cursor:pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.compare-btn:hover{
    background-color: #f0f0f0;
}

.stats-table{
    width:100%;
    max-width: 1000px;
    margin: 2rem auto;
    border-collapse: collapse;
    background-color: rgba(0,0,0,0.6);
    color:white;
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    font-size: 1.1rem;
    border-radius:10px;
    overflow:hidden;
}

.stats-table th,.stats-table td{
    padding:1rem;
    border:1px solid rgba(255,255,255,0.25);
}

.stats-table th{
background-color:rgba(255,255,255,0.1);
text-transform:uppercase;
font-weight:bold;
}

.stats-table td:first-child{
    text-align:left;
    padding-left: 1.5rem;
    font-weight: bold;
}