.forgetPassowrd-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .forgetPassowrd-button:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  