@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.profile-mainContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../assets/forzaImgs/loginPage.png') no-repeat center center;
    background-size: cover;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.47);
    border-radius: 10px 10px 10px 10px;
    padding: 30px;
    width: 90%;
    max-width: 425px;
    position: relative;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    color: rgb(31, 8, 135);
    font-weight: bold;
  }
  
  .login-container {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.47);
    border-radius: 10px 10px 10px 10px;
    padding: 30px;
    width: 90%;
    max-width: 425px;
    position: relative;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    color: rgb(33, 38, 129);
  }
  
  .login-input {
    width: 250px;
    padding: 15px 15px 15px 35px;
    margin: 0;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.899);
    font-weight: bold;
    color: #000;
    text-align: left;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .input-wrapper {
    position: relative;
    margin: 10px 0;
  }
  
  .account-logo {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
  
  .login-input:focus {
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px #f9a825;
    box-shadow: 0 0 5px #f9a825;
    border-style:solid;
  }
  
  
.login-button {
  width: 250px;
  padding: 15px;
  margin-top: 10px;
  border: none;
  background: linear-gradient(90deg, #f9a825 50%, #f57f17 50%);
  color: #fff;
  background-size: 200% 100%;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-position 0.4s ease-in-out;
}

.login-button:hover {
  background-position: right;
}