.signup-mainContainer{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../assets/forzaImgs/profileBackground.jpg') no-repeat center center;
    background-size: cover;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.signUpForm-Container {
    background-color: rgba(225, 225, 225, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    border-radius: 30px;
}

.signUpForm-Container form{
    width: 75%;
    padding: 100%;
    border-radius: 25px;
    font-size: 1.5rem;
    font-weight:700;
    font-family:Arial, Helvetica, sans-serif;
    text-wrap: nowrap;
}

.signUpForm-Container input {
    padding: 5%;
    border-radius: 10px;
    border: 3px solid #555;
    font-size: 1.5rem;
    margin-bottom: 4rem;
    margin-top: 0.5rem;
}

.signUpForm-Container label{
    font-size: 1.8rem;
}

.platform-tooltip-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .platform-tooltip-icon {
    font-size: 1.2em;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .platform-tooltip-content {
    display: none;
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
    z-index: 10;
    width: 300px; /* Wider for more text */
    background-color: #333;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
    white-space: normal;
  }
  
  .platform-tooltip-content img {
    width: 100%;
    margin-top: 10px;
    border-radius: 6px;
  }
  
  .platform-tooltip-wrapper:hover .platform-tooltip-content {
    display: block;
  }
  
  .platform-tooltip-content::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent #333 transparent transparent;
  }