@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.signup-mainContainer{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('../assets/forzaImgs/profileBackground.jpg') no-repeat center center;
  background-size: cover;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .signup-container {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .signup-input {
    width: 250px;
    padding: 15px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    outline: none;
  }
  
  .platform-options {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 15px 0;
    color: white;
    font-weight: bold;
  }
  
  .signup-button {
    width: 250px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .platform-tooltip-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .platform-tooltip-icon {
    font-size: 1.2em;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .platform-tooltip-content {
    display: none;
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
    z-index: 10;
    width: 400px; /* Wider for more text */
    background-color: #333;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
    white-space: normal;
  }
  
  .platform-tooltip-wrapper:hover .platform-tooltip-content {
    display: block;
  }
  
  .platform-tooltip-content::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent #333 transparent transparent;
  }
  