@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.statsPage-mainContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../assets/forzaImgs/garage.png') no-repeat center center;
    background-size: cover;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .platform-level {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
  }

  table {
    width: auto;
    max-width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
 }
 
 
 thead {
    background-color: #0f010157;
 }
 
 
 th,td {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.127);
    color: white;
 }
 
 
 td {
  font-size: 1rem;
  padding: 0.75rem 1rem;
  color: white;
  font-family: 'Rajdhani', sans-serif;
 }
 
 
 th {
  font-size: 1rem;
  letter-spacing: 0.5px;
  opacity: 0.95;
 }
 
.user-box-stats{
  position: absolute;
  width: 400px;
  top: 110px;
  left: 50px;  
  height: auto;
  padding: 0px 30px 30px 30px;
  margin-top: 90px;
  background-color: rgba(36, 36, 36, 0.500);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(36, 36, 36, 1);
  text-align: center;
}
 
.avatar-profile {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-top: 15px;
  margin-bottom: 10px;
}
 
.user-box h2 {
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
}

.user-box p {
  font-size: 1.4rem;
  font-weight: 500;
}
 
 .boxes {
  width: auto;
  height: auto;
  background-color: rgba(68, 68, 68, 1);
  color: white;
  text-align: center;
  border-radius: 20px;
  padding: 8px;
}
 
 .action-buttons {
   display: flex;
   justify-content: space-between;
   
   margin-top: 20px;
   gap: 90px;
 }
 
 .edit-button {
  width: 250px;
  padding: 15px;
  margin-top: 10px;
  border: none;
  background: linear-gradient(90deg, #f9a825 50%, #f57f17 50%);
  color: #fff;
  background-size: 200% 100%;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-position 0.4s ease-in-out;
 }
 
 .edit-button:hover {
  background-position: right;
 }
 

 .stats-vertical-container {
   position: absolute;
   top: 150px;
   right: 200px;
   width: 400px;
   
 }

 h1 {
  text-align: center;
  margin-top: 20px;
  color:white;
}

 .tablestyle table {
   width: 100%;
   border-collapse: collapse;
   table-layout: fixed;
 }
 
 .tablestyle thead,
 .tablestyle tfoot {
   display: table;
   width: 100%;
   table-layout: fixed;
 }
 
 .scrollable {
   display: block;
   max-height: 300px;
   overflow-y: auto;
   overflow-x: hidden;
   width: 100%;
 }
 
 .scrollable tr {
   display: table;
   width: 104%;
   table-layout: fixed;
 }
 
 .backBtn {
  padding: 6px 12px;
  margin: 0 10px;
  font-size: 1.2rem;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(90deg, #f9a825 50%, #f57f17 50%);
  background-size: 200% 100%;
  border-radius: 25px;
  cursor: pointer;
  transition: background-position 0.4s ease-in-out;
}

.nextBtn {
  padding: 6px 12px;
  margin: 0 10px;
  font-size: 1.2rem;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(90deg, #f9a825 50%, #f57f17 50%);
  background-size: 200% 100%;
  border-radius: 25px;
  cursor: pointer;
  transition: background-position 0.4s ease-in-out;
}

.nextBtn:hover {
  background-position: right;
}
.backBtn:hover {
  background-position: right;
}

.stats-box{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: rgba(36, 36, 36, 0.500);
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
}